body {
    margin: 0px;
    padding: 0px;


}

.container {
    height: fit-content;
    margin: auto;
    width: fit-content;
    margin-top: 3rem;
    border: 1px solid black;

    .row:nth-child(even) {
        display: flex;
        flex-wrap: nowrap;

        div:nth-child(odd) {
            height: 50px;
            width: 50px;
            background-color: black;
        }

        div:nth-child(even) {
            height: 50px;
            width: 50px;
            background-color: white;
        }

    }

    .row:nth-child(odd) {
        display: flex;
        flex-wrap: nowrap;

        div:nth-child(odd) {
            height: 50px;
            width: 50px;
            background-color: white;
        }

        div:nth-child(even) {
            height: 50px;
            width: 50px;
            background-color: black;
        }

    }

}

.hi {
    background-color: red !important;

}