* {
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    justify-content: center;
}

.container {
    height: fit-content;
    /* padding: 1rem; */
    border: 1px solid black;
    width: 90%;
    /* height: 50vh; */
    margin: 1rem auto;
    display: flex;
    justify-content: space-around;

}

.left,
.middle,
.right {
    display: flex;
    padding: 1rem;
    flex-direction: column;
}

.box {
    padding: .7rem;
}

.button {
    margin: .4rem;
}

.middle {
    border-left: 1px solid green;
    border-right: 1px solid green;
}
label{
    padding: 20px;
}